## MLOps Assignment 1

Q1. Print multiplication table from 1 to 10

In [ ]:
#write here and run the cell

for num in range(1,11):

  print("multiplication table for {num}:".format(num=num), end=" ")
  for mult in range(1,11):
    print(num*mult, end=" ")
  print("\n")

multiplication table for 1: 1 2 3 4 5 6 7 8 9 10

multiplication table for 2: 2 4 6 8 10 12 14 16 18 20

multiplication table for 3: 3 6 9 12 15 18 21 24 27 30

multiplication table for 4: 4 8 12 16 20 24 28 32 36 40

multiplication table for 5: 5 10 15 20 25 30 35 40 45 50

multiplication table for 6: 6 12 18 24 30 36 42 48 54 60

multiplication table for 7: 7 14 21 28 35 42 49 56 63 70

multiplication table for 8: 8 16 24 32 40 48 56 64 72 80

multiplication table for 9: 9 18 27 36 45 54 63 72 81 90

multiplication table for 10: 10 20 30 40 50 60 70 80 90 100

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [ ]:
#write here and run the cell

def elem_selection(l1,l2):

  l3 = []
  for idx in range(len(l1)):
    if idx % 2 == 0:
      l3.append(l2[idx])

    else:
      l3.append(l1[idx])

  return l3

l1 = [1,2,3,4,5,6,7,8]
l2 = [10,13,17,12,15,18,20,23]

result = elem_selection(l1,l2)
print(result)

[10, 2, 17, 4, 15, 6, 20, 8]

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [ ]:
#write here and run the cell

for i in range(8):
  for j in range(8):

    if i>j:
      print(" ", end=" ")
    else:
      print("*", end=" ")
  print("\n")

* * * * * * * *

  * * * * * * *

    * * * * * *

      * * * * *

        * * * *

          * * *

            * *

              *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [ ]:
#write here and run the cell

def expo(base, exponent):

  result = 1
  for i in range(exponent):
    result = result*base

  return result

base = 5
exponent = 4

res = expo(base, exponent)
print(res)

625

Q5. Create a file named test.txt and insert the following content into it.

    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

In [ ]:
#write here and run the cell

with open("test.txt","w") as file_obj:
    file_obj.write("\n Line1 \n Line2 \n Line3 \n Line4 \n Line5 \n Line6 \n Line7")


with open("test.txt", "r") as read_file_obj, open("skip.txt", "w") as write_file_obj:
    content = read_file_obj.readlines()
    for idx, line in enumerate(content):
        if idx != 5:
          write_file_obj.write(line)

Q6. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [ ]:
#write here and run the cell

def print_names_using_input_func():

  inp = input("Enter the user input: ").split()

  for val in inp:
    print(val)

print_names_using_input_func()

Enter the user input: IIT JODHPUR RAJASTHAN
IIT
JODHPUR
RAJASTHAN

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [ ]:
#write here and run the cell

def showEmployee(name, salary=None):

  if salary:
    print("Name:", name, "salary:", salary)

  else:
    print("Name:", name, "salary:", 9000)


showEmployee("Bill Gates", 12000)
showEmployee("Elon Musk")

Name: Bill Gates salary: 12000
Name: Elon Musk salary: 9000

Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [ ]:
#write here and run the cell

def check_letter_digit(string):

    word_list = string.split()
    output_list = []

    for word in word_list:
         if any(letter.isalpha() for letter in word) and any(letter.isdigit() for letter in word):
             output_list.append(word)

    for word in output_list:
        print(word)

string = "Harry25 is Gryffindor Wizard50 and cursed"
check_letter_digit(string)

Harry25
Wizard50

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [ ]:
#write here and run the cell

def replace_special_char(string):
    word_list = list(string)
    output_list = []

    for char in word_list:
         if not (char.isalpha() or char.isdigit() or char==" "):
             char = "#"
             output_list.append(char)
         else:
             output_list.append(char)

    return "".join(output_list)

string = '/*Modi is @Politician & Melony!!'
res = replace_special_char(string)
print(res)

##Modi is #Politician # Melony##

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [ ]:
#write here and run the cell

def form_list_pairs(list1, list2):

    set_pairs = {(list1[i],list2[i]) for i in range(len(list1))}

    return set_pairs

first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]
res = form_list_pairs(list1=first_list, list2=second_list)
print(res)

{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [ ]:
#write here and run the cell

A = {1,2,3,4,5}
B = {3,4,5,6,7}

print(A-B)
print(B-A)
print(A.intersection(B))
print(A.union(B))

{1, 2}
{6, 7}
{3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

Q12. Create a Vehicle class with max_speed and mileage instance attributes.

In [ ]:
#write here and run the cell

class Vehicle:

    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage

    def print_info(self):
        print("Max Speed is:", self.max_speed)
        print("Max Mileage is:", self.mileage)

veh = Vehicle(max_speed=250, mileage=1500)
print(veh.max_speed)
print(veh.mileage)
veh.print_info()

250
1500
Max Speed is: 250
Max Mileage is: 1500

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [ ]:
#write here and run the cell

class Bus(Vehicle):

    pass

bus_obj = Bus(100,5000)

print(bus_obj.max_speed)
print(bus_obj.mileage)
bus_obj.print_info()

100
5000
Max Speed is: 100
Max Mileage is: 5000

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [ ]:
#write here and run the cell

class Vehicle:
  def __init__(self, name, max_speed, mileage):
      self.name = name
      self.max_speed = max_speed
      self.mileage = mileage

  def seating_capacity(self, capacity):
      return f"The seating capacity of a {self.name} is {capacity} passengers"

class Bus(Vehicle):
  pass

bus_obj = Bus(name="School Bus", max_speed=100, mileage=6000)
bus_obj.seating_capacity(capacity=50)

'The seating capacity of a School Bus is 50 passengers'

Q15. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [ ]:
#write here and run the cell

class Vehicle:
  def __init__(self, name, mileage, capacity):
    self.name = name
    self.mileage = mileage
    self.capacity = capacity

  def fare(self):
    return self.capacity * 100

class Bus(Vehicle):

    def fare(self):
      return self.capacity * 100 + 0.1*self.capacity * 100

School_bus = Bus("School Volvo", 12, 50)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 5500.0

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [ ]:
#write here and run the cell

import json

data = {"key1" : "value1", "key2" : "value2"}

json_data = json.dumps(data)

print(json_data)

{"key1": "value1", "key2": "value2"}

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [ ]:
#write here and run the cell

sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

with open("sort_keys.json", "w") as write_obj:
  json.dump(sampleJson, write_obj,sort_keys=True)